USETRACE_API_URL: 'https://api.usetrace.com'
INPUT_TRACE_ID: 'xyz'
INPUT_PROJECT_ID: 'zyx'

INPUT_BUILD_TIMEOUT_SECONDS: 3600
INPUT_FAIL_ON_FAILED_TRACES: true
INPUT_BROWSERS: "chrome, firefox"
INPUT_BASE_URL: ""
INPUT_PARAMETERS: ""
INPUT_TAGS: ""
INPUT_COMMIT: ""
INPUT_COMMIT_LINK: ""
INPUT_USETRACE_API_KEY: ""
INPUT_WEBHOOK_URL: ""
INPUT_WEBHOOK_WHEN: "always"
INPUT_WEBHOOK_SECRETKEY: ""
INPUT_WEBHOOK_USERNAME: ""
INPUT_WEBHOOK_PASSWORD: ""